@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500;800&display=swap');

:root {
  --color-main: #1B1F24;
  --color-submain: #232830;
  --color-card: #2C343F;
  --color-tag: #5D6C83;
  --color-border: #4a5a6a;
  --color-white: #ffffff;
  --color-gray: #B7BEC9;
  --color-point: #363EFF;
  --color-darkgray: #272D39;
  --color-lightgray: #D9D9D9;
  --color-contact: #4a5a6ae0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: var(--color-white);
}

body {
  font-family: 'Pretendard-Regular';
  color: var(--color-white);
}

/* 스크롤바 꾸미기 */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-darkgray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-border);
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-tag);
}