@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');

:root {
  --color-main: #2C343F;
  --color-submain: #5D6C83;
  --color-tag: #272D39;
  --color-card: #576579;
  --color-gray: #B7BEC9;
  --color-lightgray: #F8F8F8;
  --color-darkgray: #272D39;
  --color-white: #ffffff;
  --color-black: #000000;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  color: var(--color-black);
}

body {
  font-family: 'Pretendard-Regular';
}

/* 스크롤바 꾸미기 */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--color-lightgray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-submain);
  border-radius: 5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray);
}